<div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h3>Reset your password</h3>

      <div *ngIf="errorEmailNotExists" class="alert alert-danger">
        <strong>Email address isn't registered!</strong> Please check and try again.
      </div>

      <div *ngIf="!success" class="alert alert-warning">
        <p>Enter the email address you used to register.</p>
      </div>

      <div *ngIf="success === 'OK'" class="alert alert-success">
        <p>Check your emails for details on how to reset your password.</p>
      </div>

      <form #resetRequestForm="ngForm" (ngSubmit)="requestReset()" *ngIf="!success" name="form" role="form">
        <div class="form-group">
          <input #emailInput="ngModel" [(ngModel)]="resetAccount.email" class="form-control" email id="email"
                 maxlength=254 minlength=5 name="email" placeholder="Your email" required type="email">
          <div *ngIf="emailInput.dirty && emailInput.invalid">
            <small *ngIf="emailInput.errors.required"
                   class="form-text text-danger">
              Your email is required.
            </small>
            <small *ngIf="emailInput.errors.email"
                   class="form-text text-danger">
              Your email is invalid.
            </small>
            <small *ngIf="emailInput.errors.minlength"
                   class="form-text text-danger">
              Your email is required to be at least 5 characters.
            </small>
            <small *ngIf="emailInput.errors.maxlength"
                   class="form-text text-danger">
              Your email cannot be longer than 100 characters.
            </small>
          </div>
        </div>
        <button [disabled]="resetRequestForm.form.invalid" class="btn btn-primary block full-width m-b"
                type="submit">Reset
        </button>

      </form>
    </div>
  </div>
</div>
